@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ffab6e;
  --primary-bold: #d55900;
}

@theme inline {
  --primary: var(--primary);
  --primary-bold: var(--primary-bold);
}

section {
  width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background-color: #020202;
  display: flex;
  justify-content: center;
  align-items: center;
}
