@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ffab6e;
  --primary-bold: #d55900;
}

@theme inline {
  --primary: var(--primary);
  --primary-bold: var(--primary-bold);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--foreground);
}

main {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
}
